@import '../scss/vars';




.table_screen {
  table {
    border-collapse: collapse; 
    > caption {
      background-color: $bg-secondary;
      height: 44px;
      border-bottom: 1px solid $border;
      font-size: 18px;
      line-height: 21px;
      border-right: 1px solid $border;  
    }
    > tr {
      border-bottom: 1px solid $border;
      > th {
        color: $text-secondary;
        line-height: 18px;
        height: 41px;
      }
  }
 }
}


